@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px
}

.btn {
    @apply w-full px-4 py-2 font-semibold uppercase rounded-md mt-2 flex justify-center gap-2
}

.btn.btn-primary {
    @apply bg-blue-800 disabled:cursor-not-allowed disabled:bg-slate-800
}

.img-box {
    @apply relative h-40;
}

img {
    @apply object-cover w-full h-full rounded-md;
}

.details {
    @apply absolute top-0 left-0 bg-slate-900/50 h-full w-full flex justify-center items-center rounded-md border-4 border-transparent cursor-pointer hover:bg-slate-900/70 transition-all
}

.details.active {
    @apply border-green-500
}

.gallery-photo .img-box {
    @apply h-full
}

.gallery-photo-details {
    @apply absolute top-0 left-0 bg-slate-900/30 h-full w-full flex flex-col justify-between rounded-md cursor-pointer hover:bg-slate-900/40 transition-all
}

.gallery-photo-details-header {
    @apply flex justify-end p-1
}

.gallery-photo-details-header span {
    @apply py-2 px-4 backdrop-blur-lg bg-slate-950/70 rounded-md text-sm
}

.gallery-photo-details-footer {
    @apply bg-slate-100 rounded-b-md px-2 py-1 text-black font-semibold
}

.photoModal-container {
    @apply fixed top-0 left-0 h-full w-full flex justify-center z-50 overflow-y-scroll overflow-x-hidden bg-slate-950/50 backdrop-blur-lg px-2;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.photoModal-container::-webkit-scrollbar {
    display: none;
}

.photoModal {
    @apply bg-slate-950/70 rounded-md max-w-[900px] w-full h-max my-8 shadow-lg;
}

.photoModal-header {
    @apply p-4 flex justify-between;
}

.photoModal-body {
    @apply max-w-[500px] w-full mx-auto py-4
}

.photoModal-body .img-box {
    @apply h-full
}

.photoModal-body .img-box img {
    @apply rounded-none h-full
}

.photoComments {
    @apply grid gap-4 px-4;
}

.photoComments .comment {
    @apply px-3 py-2 rounded-lg border-4 border-blue-500 bg-gradient-to-tr from-slate-950 to-blue-900/50 backdrop-blur-lg
}

.authMode {
    @apply w-full text-center bg-slate-800 rounded-md py-2 mb-2;
}

.authMode.active {
    @apply bg-blue-800 hover:bg-blue-900 cursor-pointer;
}